<!DOCTYPE html>
<html>
<body style="background:black;color:white;text-align:center;margin-top:100px;">

<h2>🔐 Login</h2>

<input id="username" placeholder="Username"><br><br>
<button onclick="sendOTP()">Send OTP</button><br><br>

<input id="otp" placeholder="OTP"><br><br>
<button onclick="verify()">Login</button>

<script>
async function sendOTP(){
 let username = document.getElementById("username").value;

 await fetch("/send-otp",{
   method:"POST",
   headers:{"Content-Type":"application/json"},
   body:JSON.stringify({username})
 });

 alert("OTP is 1234");
}

async function verify(){
 let username = document.getElementById("username").value;
 let otp = document.getElementById("otp").value;

 let res = await fetch("/verify-otp",{
   method:"POST",
   headers:{"Content-Type":"application/json"},
   body:JSON.stringify({username, otp})
 });

 let data = await res.json();

 if(data.status=="SUCCESS"){
   window.location="/";
 } else {
   alert("Wrong OTP");
 }
}
</script>

</body>
</html>
