<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body style="background:black;color:white;text-align:center">

<h2>Login to Jarvis</h2>

<input id="user" placeholder="Username"><br><br>
<button onclick="sendOtp()">Send OTP</button><br><br>

<input id="otp" placeholder="Enter OTP"><br><br>
<button onclick="verify()">Login</button>

<script>
async function sendOtp(){
 let user = document.getElementById("user").value;
 await fetch("/send-otp",{method:"POST",headers:{"Content-Type":"application/json"},body:JSON.stringify({username:user})});
 alert("OTP is 1234");
}

async function verify(){
 let user=document.getElementById("user").value;
 let otp=document.getElementById("otp").value;

 let res=await fetch("/verify-otp",{method:"POST",headers:{"Content-Type":"application/json"},body:JSON.stringify({username:user,otp:otp})});
 let data=await res.json();

 if(data.status=="ok") location.href="/";
 else alert("Wrong OTP");
}
</script>

</body>
</html>
