<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>

<body>

<h2>Login</h2>

<input id="username" placeholder="Enter name">
<button onclick="sendOTP()">Send OTP</button>

<br><br>

<input id="otp" placeholder="Enter OTP">
<button onclick="verify()">Verify</button>

<script>
let savedOTP = "";

async function sendOTP() {
    let username = document.getElementById("username").value;

    let res = await fetch("/send-otp", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({username})
    });

    let data = await res.json();
    savedOTP = data.otp;

    alert("Your OTP: " + savedOTP); // TEMP
}

async function verify() {
    let otp = document.getElementById("otp").value;

    if (otp == savedOTP) {
        window.location = "/";
    } else {
        alert("Wrong OTP");
    }
}
</script>

</body>
</html>
